.container {
  color: white;
  max-width: 15rem;
}

.textNormal {
  font-size: 1.2rem;
}

.title {
  font-weight: bold;
  letter-spacing: 0.05em;
}

.subtitle {
  font-weight: 500;
  color: #a3aac4;
  letter-spacing: 0.1rem;
  opacity: 0.8;
  margin-top: 0.25rem;
}
