.card {
  background-color: #0f1930;
  border-radius: 0.5rem;
  height: 14rem;
  display: flex;
  padding: 1rem;
  color: white;
  width: 33.25rem;
}

.cardImage {
  object-fit: cover;
  height: 100%;
  border-radius: 0.25rem;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 0.75rem;
}

.cardActions {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.spacer {
  margin-left: 0.5rem;
  width: 100%;
}

.buttonGroup {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 0.25rem;
}

.iconButton {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  color: white;
}

.iconButton:hover{
  color:#ff7d54;
}

.contenedorRating {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}